[submodule "submodules/bgfx.cmake"]
	path = submodules/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
	ignore = all
[submodule "submodules/libigl"]
	path = submodules/libigl
	url = https://github.com/libigl/libigl.git
